models/*/fits/*_verify.RDS
*.Rhistory
*admodel.*
*admodel_original.cov
models/*/admb/*.cpp
*.cor
*.bar
*.log
*hybrid_seed
*.ecm
*.eva
*.hst
*.htp
*.exe
*.obj
*.mc2
*.mcm
*.std
*adaptation.csv
*.psv
*.par
*.dll
*.o
*trash.txt
eigv.rpt
*.tmp
log.txt
admb_models/cod/plots
rwm_lp.txt
fit.nuts.RDS
fit.rwm.RDS
*unbounded.csv
*bounded.csv
*rotated.csv
*.b0*
*.p0*
*.r0*
*.rep
*init.pin
*sims*
*/admb/*.cpp