*.Rhistory
*admodel.*
*admodel_original.cov
*.cor
*.bar
*.log
*hybrid_seed
*.ecm
*.eva
*.hst
*.htp
*.exe
*.obj
*.mc2
*.mcm
*.std
*adaptation.csv
*.psv
*.par
*.dll
*.o
*init.pin
*trash.txt
sims
*.sso
*.ss_new
eigv.rpt
ss3_24*
runnumber.ss
variance
ss3*.tpl
ss3.b0*
ss3.p0*
ss3.r0*
ss3.rep
ss3.cpp
*.tmp
log.txt
ss3_models/cod_fast/plots
ss3_models/model*
rwm_lp.txt
