*.Rhistory
*admodel.*
*admodel_original.cov
*.cor
*.bar
*.log
*hybrid_seed
*.ecm
*.eva
*.hst
*.htp
*.exe
*.obj
*.mc2
*.mcm
*.std
*adaptation.csv
*.psv
*.par
*.dll
*.o
*init.pin
*trash.txt
sims
*.sso
*.ss_new
eigv.rpt
ss3_24*
runnumber.ss
variance
ss3*.tpl
ss3.b0*
ss3.p0*
ss3.r0*
ss3.rep
ss3.cpp
*.tmp
log.txt
admb_models/cod/plots
rwm_lp.txt
fit.nuts.RDS
fit.rwm.RDS
*unbounded.csv
*bounded.csv
*rotated.csv
*.b0*
*.p0*
*.r0*
*.rep
*/snowcrab/gradient*
*/snowcrab/eval.csv
*/snowcrab/Check.Out
*/snowcrab/R_input.txt
*/snowcrab/snowcrab.cpp
*/snowcrab2/gradient*
*/snowcrab2/eval.csv
*/snowcrab2/Check.Out
*/snowcrab2/R_input.txt
*/snowcrab2/snowcrab2.cpp
admb_models/*/*.cpp
halibut.tpl
halibut2.tpl
hake.tpl
cod.tpl
tanner.tpl
tanner2.tpl
canary.tpl
canary2.tpl
*/tanner/Check.Out
*/tanner/OutputFile1.Out
*/tanner/gradient*
admb_models/hake/plots
cod2.tpl
*_chain_*